<MudNavMenu>
	<MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
	<MudNavLink Href="/textures" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.FormatPaint">Textures Tool</MudNavLink>
	<MudNavLink Href="/assets" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CloudDownload">Vanilla Assets</MudNavLink>
	<MudNavLink Href="/potion-converter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.SwapHoriz">Potion Converter</MudNavLink>
	<MudSpacer />
	<p style="position: fixed; bottom: 0;" class="pl-2 pb-1">MCTools @Program.GetVersion()</p>
</MudNavMenu>