@page "/"
@using MCTools.Components
@using MCTools.SDK.Controllers
@using MCTools.SDK.Models.Telemetry
@inject TelemetryController TelemetryController

<MudText Typo="Typo.h3">Minecraft Tools @(Program.IsPreRelease() ? $" ({Program.GetReleaseType(true, true)})" : string.Empty)</MudText>
<MudText Class="mb-8">This app is a work-in-progress. More tools will be coming soon!</MudText>

@if (Program.IsPreRelease())
{
	<MudAlert Severity="Severity.Warning">
		<p>You are using MCTools @($"{Program.GetReleaseType(true, true)}")!</p>
		<p>If you experience any issues, <a href="@Program.GetStableUrl()">visit the stable site</a>.</p>
	</MudAlert>
}
else
{
	<MudAlert Severity="Severity.Normal">
		<p>You are using MCTools Stable.</p>
		<p>If you want to test experimental features, <a href="@Program.GetBetaUrl()">visit the beta site</a>.</p>
	</MudAlert>
}

<MudAlert Class="mt-4" Severity="Severity.Normal">
	<p>If you encounter any issues, please report them on the GitHub Issues page:</p>
	<br/>
	<p>Issues: <MudLink Href="https://github.com/mullak99/MCTools/issues" Typo="Typo.body2" Color="Color.Inherit"><b>https://github.com/mullak99/MCTools/issues</b></MudLink></p>
	<br/>
	<p>Alternatively, you may contact me on the following:</p>
	<br/>
	<p>Discord: mullak99</p>
	<p>Email: <MudLink Href="mailto:mullak99@mullak99.co.uk" Typo="Typo.body2" Color="Color.Inherit"><b>mullak99@mullak99.co.uk</b></MudLink></p>
</MudAlert>

<MudAlert Class="mt-4" Severity="Severity.Success">
	<h2 class="pb-1">What's new</h2>
	<li>Added error reporting</li>
	<li>Performance improvements</li>
	<li>Behind-the-scenes change with Potion Converter</li>
</MudAlert>

<SystemMessages Messages="@_sysMessages" />

@code {
	private List<ApiMessage> _sysMessages = new();

	protected override void OnInitialized()
	{
		_ = Task.Run(async () => await GetStatusMessages());
	}

	private async Task GetStatusMessages()
	{
		_sysMessages = await TelemetryController.GetStatusMessages();
		await InvokeAsync(StateHasChanged);
	}
}
